<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <img src="https://i.pinimg.com/originals/4d/3f/d5/4d3fd5c79837384de61fd2ca64da03a7.gif" alt="Icon" class="w-14 h-14 text-white p-2 rounded-full">
        <span class="ml-3 text-xl">映画</span>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
        <a routerLink='/' class="mr-5 hover:text-white">Home</a>
        <a routerLink='/product' class="mr-5 hover:text-white">Product</a>
        <a routerLink='/emplist' class="mr-5 hover:text-white">Team</a>
        <a routerLink='/about' class="mr-5 hover:text-white">About</a>
      </nav>
    </div>
  </header>