<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <h1 class="text-5xl text-white font-medium mb-2 md:w-2/5">Anime Movies and Series</h1>
      <div class="md:w-3/5 md:pl-6">
        <p class="leading-relaxed text-base">Immerse yourself in the captivating world of anime with our handpicked selection of high-quality movies and series. From breathtaking visuals to compelling storytelling, each title in our collection promises an unforgettable journey for anime enthusiasts of all ages.</p>
      </div>
    </div>
  </section>
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.bauerhosting.com/legacy/media/5eaa/a3f1/b45f/b73e/d56f/f1ab/SpiritedAway.jpg?auto=format&w=992&q=80">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">Spirited Away (2001)</h2>
            <p class="mt-1">$16.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.bauerhosting.com/legacy/media/5eaa/ab6d/b45f/b771/3a6f/f225/GirlWhoLeaptThrough.jpg?auto=format&w=992&q=80">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">The Girl Who Leapt Through Time (2006)</h2>
            <p class="mt-1">$21.15</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.bauerhosting.com/legacy/media/5eaa/a4dd/c5f3/a925/705b/fdde/YourName.jpg?auto=format&w=992&q=80">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">Your Name (2016)</h2>
            <p class="mt-1">$12.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.bauerhosting.com/legacy/media/5ef4/8870/ea6a/1327/12f6/840c/Weathering-With-You.png?auto=format&w=992&q=80">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">Weathering With You (2019)</h2>
            <p class="mt-1">$18.40</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.bauerhosting.com/legacy/media/5eaa/aac7/6110/b40f/ca75/ebec/Totoro.jpg?auto=format&w=992&q=80">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">My Neighbour Totoro (1988)</h2>
            <p class="mt-1">$16.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.bauerhosting.com/legacy/media/5eaa/ab36/c5f3/a92a/7b5b/fe21/TheWindRises.jpg?auto=format&w=992&q=80">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">The Wind Rises (2013)</h2>
            <p class="mt-1">$21.15</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.kennedy-center.org/globalassets/nso/2023-2024/_nso_eventimage_1600x900_wolftrapjusticeforum_howlsmovingcastle.jpg?format=webp&width=1600&quality=70">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">Howl's Moving Castle (2004)</h2>
            <p class="mt-1">$12.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://imgsrv.crunchyroll.com/cdn-cgi/image/format=auto,fit=contain,width=1200,height=675,quality=85/catalog/crunchyroll/ffad1b93800580a55173288141b9a321.jpe">
          </a>
          <div class="mt-4">
            <h2 class="text-white title-font text-lg font-medium">My Love Story with Yamada-kun at Lv999 (2023)</h2>
            <p class="mt-1">$18.40</p>
          </div>
        </div>
      </div>
    </div>
  </section>